<h3>Welcome!</h3>

<div id='posts-list'>
  <% @posts.each do |post| %>
    <div>
      <div class='opacity'></div>
      <div class='post-content'>        
        <h4><%= link_to post.title, post %></h4>
        <p><%= post.description %></p>
        <p>Posted By: <%=link_to post.creator.username%> at <%=post.created_at%> </p>
        <div class='votes'>
          <% if logged_in? %>
            <%=link_to '<i class="icon-thumbs-up-alt"></i>'.html_safe, vote_post_path(post,{vote:true}), method:'post', class:'vote-up' %> 
          <%end%>
          <span class='total-votes'><%=post.total_votes%></span>
          <% if logged_in? %>
            <%=link_to '<i class="icon-thumbs-down-alt"></i>'.html_safe, vote_post_path(post,{vote:false}), method:'post', class:'vote-down' %>  
          <%end%>
          <div class='opacity-black'></div>
        </div>
      </div>
    </div>
  <%end%>
</div>
