<h3>Post!</h3>

Title:
<%=@post.title%>
<br/>

<%=@post.description%>
<br/>
<br/>



<h3>Add a Comment </h3>
<br/>
<%=form_for [@post,@comment]  do |f| %>
  
  <%=f.text_area :body %>
  <br/>
  <%=f.submit "Add a comment", class:'btn btn-info'%>
  
<%end%>

<h3>Comments </h3>

<ul>
  <% @comments.each do |comment|%>
    <li>
      <%=link_to '+', vote_post_comment_path(@post,comment,{vote:true}), method:'post' %> / <%=comment.total_votes%> / <%=link_to '-', vote_post_comment_path(@post,comment,{vote:false}), method:'post' %> 

      <%=comment.body%>
    </li>
  <%end%>
</ul>